process {
    withName:validation {
        container = 'lrgasp_openebench/validation'
    }
}

process {
    withName:compute_metrics {
        container = 'lrgasp_openebench/metrics'
    }
}

process {
    withName:consolidation {
        container = 'lrgasp_openebench/consolidation'
    }
}

docker {
    enabled = true
}

// default parameter values
params  {
  // submitted file
  input = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/lrgasp-challenge-3_full_data/input_data/rna.fasta'

  // experiment json file
  experiment_json = '/media/tian/ubuntu/data4Tian/mouse_SPbU_cDNA_PacBio/experiment.json'

  // entry json file
  entry_json = '/media/tian/ubuntu/data4Tian/mouse_SPbU_cDNA_PacBio/entry.json'

  // output directory
  validation_result = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/test_result/validation_result/validation.json'

  // public reference dir
  public_ref_dir = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/lrgasp-challenge-3_full_data/public_ref'

  // community_id
  community_id = 'LRGASP'

  // challenges_ids
  challenges_ids = '"mouse_sirvs mouse_num_iso"'

  // participant_id
  participant_id = 'fake_pipeline_test'


  // result
  data_model_export_dir = '/media/tian/ubuntu/test_data/output/result.json'

  assess_dir = '/media/tian/ubuntu/test_data/benchmark_data/'

  assessment_results = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/test_result'

  outdir = '/media/tian/ubuntu/test_data/output/'

  validation_file = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/test_result/validation_result/validation.json'

  metrics_data = '/media/tian/ubuntu/lrgasp-challenge-3_benchmarking_docker/test_result/rna_JSON_data'




}
